# Node modules
node_modules/

# Production builds & Portable executables
dist/
out/
build/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Electron / NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Operating system files
.DS_Store
Thumbs.db
desktop.ini
